<%= form_for([@firstformmath, @firstformmath.comments.build]) do |f| %>
<!--
collection.build(attributes = {}, …) Returns one or more new objects of the collection type that have been instantiated with attributes and linked to this object through a foreign key, but have not yet been saved. Note: This only works if an associated object already exists, not if it‘s nil!
-->
    <table align="left" width=""><tr>
         <td>

       
             <div>
                <%= f.text_area :body, size: "100x10"%>
             
            </div>
        </td></tr>
        <tr><td>
         
            <div class="text-center">
               <%= f.submit "Submit Answer", class: "btn btn-large btn-primary" %>
            </div>
          </td></tr></table>
        <% end %>
 